# ONEDIFF_TORCH_TO_ONEF_CLASS_MAP : specifies the mapping relationship between PyTorch model classes and OneFlow model classes.
# ONEDIFF_CUSTOM_TORCH2OF_FUNC_TYPE_MAP:  specifies how to convert some PyTorch obj through custom convert functions.


from onediff.infer_compiler.convert_torch_to_of.register import default_converter

ONEDIFF_TORCH_TO_ONEF_CLASS_MAP = {
  PyTorchModelClass: YourOneFlowModelClass,
  ...
}

def custom_convert_func(mod: PyTorchModelClass, *args, **kwargs):
  # do something
  return mod: YourOneFlowModelClass

ONEDIFF_CUSTOM_TORCH2OF_FUNC_TYPE_MAP = {
  custom_convert_func: PyTorchModelClass,
  ...  
}